.page-header {
	margin-top:0%;
	border:3px solid red;
}
.content-background {
	border:3px solid red;
}
h5, h1 {
	 font: italic bold 12px/30px Georgia, serif;
	 font-weight:bold;
	 text-align:center;
}
#tableandform {
    height:100%;
    width:100%;
    border:3px solid red;
}
.examlist {
	width:25%;
	float:left;
	margin-left:10%;
	border:3px solid green;
}
#formdiv {
	float:left;
	width:40%;
	margin-left:4%;
	border:3px solid blue;
}
.message {
	text-align:left;
	width:100%;
    font-size: 200%;
}
.content {
	height:100%;
}
img {
	width:50%;
	height:50%;
}
table.buttontable {
    border-collapse:separate;
    border-spacing:0 20px;
}
.imagediv {
	width:10%;
	float:left;
}
#headertab {
	width: 23%;
	float:left;
	margin-left:28%;
	text-align:center;
}
.logout {
	float:left;
	margin-left:30%;
}
.usertab {
	width:100%;
	height:15%;
	font-family:fantasy;
	border:3px solid red;
}
input[type=submit] {
  display:none;
}

input[type=checkbox]:checked ~ input[type=submit] {
  display:block;
}